.app {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(51, 53, 56);
  color: white;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: rgba(51, 53, 56, 1);;
}

.logo {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}


.nav a{
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  transition: .3s;
}

.nav a:hover{
  color: aqua;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0px 5%;
  /* background-image: url('IMG_5801.PNG'); */
  background-size: 70%;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.homeContent {
  max-width: 600px;
}

.homeContent a{
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: .5s linear;
  transition-timing-function: ease-in-out;
}

.homeContent a:hover{
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: .5s linear;
  transition-timing-function: ease-in-out;
}

.buttons a{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: .5s linear;
  transition-timing-function: ease-in-out;
  text-shadow: none;
}

.buttons a:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: .5s linear;
  transition-timing-function: ease-in-out;
  text-shadow: none;

} 

.homeContent h1{
  font-size: 60px;
  font-weight: 900;
  line-height: 1.5;
}

.homeContent h3{
  color: aqua;
  font-size: 45px;
  font-weight: 500;
}

.homeContent p{
  margin: 20px 0 40px;
  font-size: 25px;
}

.homeContent .buttonBox{
  width: 335px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.buttonBox a{
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 100%;
  background:aqua;
  border: 2px solid aqua;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  color:rgba(51, 53, 56, 1);
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  z-index: 1;
  overflow: hidden;
}

.buttonBox a:hover::before{
  width: 100%;
}

.homeLinks {
  transform: translateX(37%);
  bottom: 10px;
  width: 170px;
  margin: 20px;
  display:inline-flex;
  justify-content: space-between;
}

.homeLinks a {
  position:relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: aqua;
  border: 2px solid aqua;
  border-radius: 50%;
  font-size: 20px;
  color: rgba(51, 53, 56, 1);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.me {
  position: relative;
  height: auto;
  width: auto;
  right: 100px;
  z-index: 44;
}

.wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 208px;
}

.wave .shape-fill {
  fill: #333538;
}

.about{
  height: 125vh;
  background-color: aqua;

}

.aboutContent{
  padding-top: 70px;
  width: min(125ch, 100% - 4rem);
  margin-inline: auto;

}

.aboutContent h2{
  text-align: center;
  color: black;
  font-size: 45px;
  font-weight: 500;
}

.aboutContent p{
  text-align: center;
  margin: 20px 0 40px;
  font-size: 20px;
}

.experience{
  height: 125vh;
  background-color: navy;
}

.contact{
  height: 125vh;
  background-color: rgb(8, 9, 67);
}
